<template>
	<div>
		<video-player :options="videoOptions"/>
	</div>
</template>

<script>
import VideoPlayer from "@/components/VideoPlayer.vue";

export default {
	name: "App",
	components: {
		VideoPlayer
	},
	data() {
		return {
			videoOptions: {
				autoplay: true,
				controls: true,
<% if (channelLatency === 'LOW') { -%>
				techOrder: ["AmazonIVS"],
                src: "<%= src %>"
<% } else { -%>
				sources: [
					{
						src: "<%= src %>",
						type: "application/x-mpegURL"
					}
				]
<% } -%>
			}
		};
	}
};
</script>