name: Lint On Pull

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install eslint
      run : npx install-peerdeps --dev eslint-config-airbnb; npm i --dev eslint-plugin-jest;
    - name: eslint
      run : npm run lint
    - name: build
      run : npm install
